/* Universal Styles */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 22px;
  color: AliceBlue;
  background-color: black;
  opacity: 0.9;
}

/* Header */


/* Main Content Container */

/* about me */
.content {

}

.frogs {
 width: 100%;
 height: 400px;
}

.frogImageBox {
  display: flex;
  align-items: baseline;
  align-content: space-around;
  flex-flow: wrap;
  flex-shrink: auto auto;

}
.frogImage {
  max-width: 30%;
  max-height: 400px; */
}

/* Footer */
